.inv-table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin-left: auto;
    margin-right: auto;
}

.inv-table thead tr{
    background-color: #008698;
    color: #ffffff;
    text-align: left;
}

.inv-table th,
.inv-table td{
    padding: 12px 15px;
}

.inv-table tbody tr{
    border-bottom: thin solid #dddddd;
}

.inv-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.inv-table tbody tr:last-of-type{
    border-bottom: 2px solid #008e98;
}

.inv-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}